{% extends "base.html.twig" %}

{% block title %}
	{{ title }} - {{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}
    	<div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
    	<table id="results" class="table table-condensed tables-striped table-responsive">
    		<thead>
    			<tr>
    				<th>#</th>
    				<th>date</th>
    				<th>File #</th>
    			</tr>
    		</thead>
    		
    		<tbody>
				<!-- Displaying results -->
    		</tbody>
    		
    		<tfoot>
    			<tr>
    				<td colspan="3">
    					<span id="results-number"></span> results
    				</td>
    			</tr>
    		</tfoot>
    		
    	</table>
{% endblock %}