<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <title>{% block title %}Data Sat{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset("css/global.css") }}" rel="stylesheet">
        {% endblock %}
        
        {% block javascripts %}
        <script src="{{ asset("javascript/jquery.min.js") }}"></script>
        <script src="{{ asset("javascript/bootstrap.min.js") }}"></script>
        <script src="{{ asset("javascript/app.js") }}"></script>
        {% endblock %}
        
    </head>
    <body>
    	<div class="container-fluid">
    		<div class="row">
        	{% block body %}
        		<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
        			<form id="search-form">
        				<div class="form-group">
        					<input 
        					type="date" 
        					id="begin" 
        					name="begin" 
        					value="{{ begin|date('Y-m-d') }}"
        					max="{{ begin|date('Y-m-d') }}"
        					placeholder="Date de début"
        					class="form-control">
        				</div>
        				
        				<div class="form-group">
        					<input 
        					type="date" 
        					id="end" 
        					name="end" 
        					value="{{ begin|date('Y-m-d') }}"
        					max="{{ begin|date('Y-m-d') }}"
        					placeholder="Date de fin"
        					class="form-control">
        				</div>
        				
        				<div class="center-block">
        					<button class="btn btn-outline-success">
        						Valider
        					</button>
        				</div>
        			</form>
        		</div>        		
        	{% endblock %}
        	</div>
        </div>
        <!-- Inclusion des template utiles -->
        {{ include("loader.html.twig") }}

    </body>
</html>
