//couleur de fond globale
$background: rgba(128,128,128,0.5);

@import './mixins.scss'; //idem pour les variables

div{
	&.outer-loader{
		position: absolute;
		top:0;
		left:0;
		height: 100%;
		width: 100%;
		background-color:$background;
		
		&.silent{
			display:none;
		}
		
		.inner-loader{ //div.outer-loader .inner-loader
			position:relative;
			width:40px;
			height:40px;
			@include vertical-center;
			margin: 0 auto;
			background: transparent;
			
			img{
				display:block;
				height:inherit;
				width:inherit;
			}
		}
	}
}